<script >
import { ref } from 'vue'
import { createMessage } from '../firebase'
import moment from 'moment'
export default {
  props: {
    user: String
  },

  setup(props){
    const user = props.user
    const msj = ref('');

    const saveMessage = async () => {
      const response = await createMessage({
        user: user,
        text: msj.value,
        createdAt: moment.now()
      })

      alert('Mensaje guardado...')
      msj.value = ''
    }

    return {
      msj,
      saveMessage
    }
  }
}
</script>

<template>
  <div>
    <h3> ¡Hola <span class="font-extrabold">{{`${user}`}}</span>{{ `! si estás aquí, pensaste en escribirle a tu`  }} <span class="font-extrabold">{{`${user === 'Flan' ? 'Brownie' : 'Flan'}`}}</span>.</h3>
    <!-- <label for="msj">Mensaje:</label> -->
    <div class="mt-10 w-full">
      <span>Mensaje:</span>
      <br>
      <textarea v-model="msj" class="w-full rounded-lg border-pink-400 border-2" name="msj" id="" cols="" rows="5"/>
    </div>
    <div class="card">
      <button :disabled="msj.length == 0" class="bg-pink-600" type="button" @click="saveMessage()">¡Extrañar!</button>
    </div>
  </div>

</template>

<style scoped>

</style>
