<script>
import Message from './Message.vue'
export default {
    components: {
        Message
    },
    props:{
        messages: Array
    },  
    setup(props){
        //order messages by createdDat
        //scroll to button
        const scrollToBottom = () => {
            const container = document.querySelector('.messages');
            container.scrollTop = container.scrollHeight;
        }
    }
}
</script>

<template>
    <div class="messages">
        <span v-if="messages.length > 0" class="text-sm font-extrabold">Mensajes</span>
        <span v-else class="text-sm font-extrabold">No hay mensajes para mostrar</span>
        <Message class="mt-3 w-full" v-for="message in messages" :message="message" :key="message.id"/>
    </div>
</template>