<script>
import moment from 'moment';
export default {
    props: {
        message: Object
    },
    setup(props){
        const formatDate = (date) => {
            const parsed = moment(date);
            return moment(parsed).format('DD/MM/YYYY HH:mm:ss');
        }

        const extractUrl = (text) => {
            if(text){
                const urlRegex = /(https?:\/\/[^\s]+)/g;
                return text.match(urlRegex);
            }
            return text;
        }

        const formatText = (text) => {
            const url = extractUrl(text);
            if(url){
                return text.replace(url, `Se adjuntó un enlace<br><a href="${url}" target="_blank">Abrir</a>`);
            }
            return text;
        }

        return {
            formatDate,
            formatText
        }
    },
    
}
</script>

<template>
    <Transition>
        <div class="bg-gray-700 rounded-md mb-2 p-2">
            <div class="text-xs">
                <span class=" font-bold" >{{message.user}}</span> <span>escribió:</span>
            </div>
            <span class="text-gray-200 text-sm" v-html="formatText(message.text)"></span>
            <div class="mt-3 flex justify-end font-bold">
                <span class="text-xs">{{formatDate(message.createdAt)}}</span>
            </div>
        </div>
    </Transition>
</template>
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>