<script >
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import IMissYou from './components/IMissYou.vue'
import MessageList from './components/MessageList.vue';
import { getAllMessages } from './firebase';

import { ref } from 'vue'

export default {
  components: {
    IMissYou,
    MessageList
  },
  setup () {
    const user = ref('');
    const canShowMessages = ref(false);
    const messages = ref([]);
    const messagesHidden = ref(true);

    const showMessages = async () => {
      canShowMessages.value = true;
      messages.value = [];
      await getAllMessages().then((result) => {
        result.forEach((message) => {
          messages.value.push(message.data());
        });
        //const reversed = [...messages.value].reverse()
        //messages.value = reversed;
        //order messages by createdDate
        messages.value = messages.value.sort((a, b) => {
          return a.createdAt - b.createdAt
        })
      });
    }
    
    const setUser = (newUser) => {
      user.value = newUser;
    };

    //set false on monday to show all messages.
    messagesHidden.value = false    
    return {
      user,
      setUser,
      messages,
      showMessages,
      canShowMessages,
      messagesHidden
    }
  }
}

</script>

<template>
  <div class="flex justify-center">
    <div class="w-2/3 mt-10">
    <button class="mb-10" v-if="!canShowMessages && !user && !messagesHidden" @click="showMessages()">Ver mensajes</button>
    <button v-if="canShowMessages" @click="user = '', canShowMessages = false" class="flex mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
      <span class="font-bold">Atrás</span>
    </button>
    <button v-if="user" @click="user = ''" class="flex mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
      <span class="font-bold">Atrás</span>
    </button>
    <div class="flex justify-center">
      <div>
        <h1 class="font-bold">Besties💖</h1>
        <div v-if="!user && !canShowMessages">
          <h2 class="center-text">Who are u?</h2>
          <div class="flex">
            <img @click="setUser('Flan')" src="./assets/flan.png" class="logo vue" alt="flan" />
            <img @click="setUser('Brownie')" src="./assets/brownie.png" class="logo" alt="brownie" />
          </div>
        </div>
      </div>
    </div>
    <Transition>
      <div class="flex justify-center">
        <IMissYou class="" v-if="user" :user="user" />
      </div>
    </Transition>
    <MessageList class="w-full" v-if="canShowMessages" :messages="messages" />
    <div class="mt-12"> 
    
    
  </div>
    
      
  </div>
  </div>
  
  
  
  <!-- <HelloWorld msg="Vite + Vue" /> -->
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
